
  <div class="card" *ngFor="let quection of questions">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h5 class="mb-0">{{ quection.id }}- {{ quection.questions }}</h5>
      <button class="btn btn-info text-white" data-bs-toggle="collapse" [attr.data-bs-target]="'#answer' + quection.id"
        aria-expanded="false" [attr.aria-controls]="'answer' + quection.id">{{quection.click}}
      </button>
    </div>
    <div [id]="'answer' + quection.id" class="collapse">
      <div class="card-body">
        {{ quection.answer}}
      </div>
    </div>
  </div>

