* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}

body.light-mode {
  background-color: #ffffff;
  color: #000000;
}

body.dark-mode {
  background-color: #121212d6;
  color: #ffffff;
}

.dark-mode .navbar {
  background-color: #1f1f1f;
}
.light-mode .navbar {
  background-color: #f8f9fa;
}
